<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I'm ready!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body { padding-top: 50px; }
  </style>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1 style='padding-bottom: 30px;'>Bot is now up</h1>
      <p>Client user: <%= botUser %></p>
      <p>Bot ID: <%= botID %></p>
      <p>Uptime: <%= uptime %></p>
      <p>Currently in <b><%= guilds %></b> guilds</p>
      <p>Shards: <%= shards.length %></p>
      <p>Gateway URL: <a href=<%= gUrl %>><%= gUrl %></a></p>

    </div>

  </div>

</body>
</html>
